html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	font-size: 0pt;
}

div {
	font-size: 16pt;
}

a, a:link, a:visited {
	color: #e9eff2;
	text-decoration: none;
}

a:hover, a:active {
	color: white;
}

p {
	font-weight: 300;
}

header {
	color: #EEEEEE;
	margin-top: 1%;
}

.full > header, .wrap > header {
	padding-left: 5%;
	padding-right: 5%;
}

h2 {
	font-size: 32pt;
	font-weight: 200;
}

#subscribe {
	background-color: #336699;
	color: white;
}

#subscribe > .block:hover {
	background-color: #224466;
}

#meetup {
	background-color: #D15462;
	color: white;
}

#meetup > .block:hover {
	background-color: #9E404A;
}

header h1 {
	font-size: 48pt;
	font-weight: normal;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

.no-header > h2 {
	padding-left: 5%;
	padding-right: 5%;
}

header h2 {
	font-size: 32pt;
	font-weight: 200;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}

li {
	margin-top: 0.25em;
	list-style-type: square;
}

li p {
	margin-top: .25em;
}

h1.logo {
	color: #EEEEEE;
}

h1.logo span.at {
	color: #D15462;
	display: inline-block;
	padding-bottom: -4px;
}

#intro {
	background: #336699 url(../images/bg.jpg) center center/cover no-repeat scroll;
}

#presentation {
	background: url(../images/bg-short.jpg) center center/cover no-repeat scroll;
}

#sponsors {
	background-color: white;
	margin-bottom: 2em;
}

#presentation h2 {
	padding-top: .83em;
	padding-bottom: .83em;
	padding-left: 5%;
	padding-right: 5%;

	margin-top: 0;
	margin-bottom: 0;

	color: #EEEEEE;
	background-color: rgba(0, 0, 0, 0.6);
}

.sponsors {
	font-size: 0pt;
	padding-left: 5%;
	padding-right: 5%;
}

.sponsor {
	box-sizing: border-box;
	width: 32.5%;
	display: inline-block;
	vertical-align: middle;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.sponsor img {
	width: 100%;
}

#events {
	background: #556270 url(../images/events.jpg) center center/cover no-repeat fixed;
}

.dark {
	background-color: rgba(0, 0, 0, 0.6);
}

article.dark > section {
	margin-bottom: 1.5em;
}

article.dark > section:last-child {
	margin-bottom: 1em;
}

article.dark p {
	margin-top: .25em;
}

#journey {
	background: #336699 url(../images/journey.jpg) center center/cover no-repeat scroll;
}

header.dark {
	margin-top: 0;

	width: 40%;
	min-width: 26em;
	max-width: 75%;
}

#journey > header > h2 {
	padding-top: .33em;
	padding-bottom: .33em;
	margin-top: .5em;
	margin-bottom: .5em;
}

.light {
	background-color: #E2E2E2;
}

.light header {
	color: #556270;
}

.light article {
	color: #333333;
}

.light a, .light a:link {
	color: #556270;
}

.light a:hover, .light a:active {
	color: #333333;
}

#contact p {
	margin-top: .25em;
	margin-bottom: .5em;
}

.full {
	width: 100%;
	height: 100%;
	min-height: 600px;

	display: inline-block;
}

.full.short {
	height: 50%;

	min-height: 0px;
}

.wrap {
	display: inline-block;

	width: 100%;
}

h3 {
	font-size: 28pt;
	font-weight: 400;
	margin-top: .25em;
	margin-bottom: 0em;
}

strong {
	font-weight: 400;
}

.title {
	font-size: 18pt;
}

.details {
	font-size: 16pt;
	font-weight: 300;

	margin-top: .5em;
	margin-left: 1em;
}

article {
	color: white;
	font-size: 14pt;
	font-weight: 300;

	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 1em;

	line-height: 1.5;
}

article.about {
	min-width: 40%;
	max-width: 20em;

	margin-top: -1em;
	padding-top: 1em;
}

article.dark {
	width: 40%;
	min-width: 26em;
	max-width: 75%;

	margin-top: -.25em;
	padding-top: .25em;
}

div.footer {
	background-color: #556270;
	color: #E2E2E2;

	width: 100%;

	font-size: 0pt;
}

div.wrap.no-header > .block {
	display: inline-block;

	font-size: 32pt;
	font-weight: 200;

	padding-left: 5%;
	padding-right: 5%;
	padding-top: 0.83em;
	padding-bottom: 0.83em;

	width: 90%;
}

div.footer > .block {
	display: inline-block;

	text-align: center;

	font-size: 32pt;
	font-weight: 200;

	padding-top: 0.83em;
	padding-bottom: 0.83em;

	width: 25%;
}

div > .block:hover {
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.footer > .block:hover {
	color: white;
	background-color: #333333;
}

#social {
	width: 100%;

	font-size: 0pt;
}

#social > .block {
	display: inline-block;

	text-align: center;

	font-size: 32pt;
	font-weight: 200;

	padding-top: 0.83em;
	padding-bottom: 0.83em;

	width: 25%;

	padding-left: 0;
	padding-right: 0;
}

.block.blue {
	background-color: #336699;
	color: white;
}

.block.blue:hover {
	background-color: #224466;
}

.block.red {
	background-color: #D15462;
	color: white;
}

.block.red:hover {
	background-color: #9E404A;
}

.team {
	font-size: 0pt;
	margin-bottom: 20px;
}
.teammate {
	display: inline-block;
	width: 33.3%;
	font-size: 16pt;
	margin-bottom: 2em;
}
.teammate img {
	width: 33.3%;
}
.team p {
	font-size: 16pt;
}

@media (max-height: 720px) {
	article.about {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

@media (max-width: 1000px) {
	article.about {
		background-color: rgba(0, 0, 0, 0.4);
	}

	div.footer > .block {
		font-size: 20pt;
	}

	div.wrap.no-header#social > .block {
		font-size: 20pt;
	}

	.teammate {
		width: 50%;
	}
}

@media (max-width: 640px) {
	h3 {
		font-size: 20pt;
	}

	.title {
		font-size: 16pt;
	}

	.date {
		font-size: 12pt;
	}

	#events > article > section {
		margin-bottom: 1em;
	}

	article.dark {
		min-width: 90%;
	}

	header.dark {
		min-width: 90%;
	}

	div.footer > .block {
		width: 50%;
	}

	div.wrap.no-header#social > .block {
		width: 50%;
	}

	.teammate {
		width: 80%;
	}
}

@media (max-width: 480px) {
	header h1 {
		font-size: 32pt;
	}

	header h2 {
		font-size: 24pt;
	}
}

/* workshops */

#workshops {
	background: url(../images/workshops.jpg) center center/cover no-repeat scroll;
}

header.wide {
	padding-top: 1%;
	padding-bottom: 20px;

	width: 100%;
	max-width: none;
	box-sizing: border-box;
}

.separator {
	display: inline-block;

	height: 1px;
	width: 100%;

	background-color: #555555;
}

/* journeys */

#journeys {
	background: url(../images/journeys.jpg) center center/cover no-repeat scroll;
}

/* create */
#create {
	background: url(../images/create.jpg) center center/cover no-repeat scroll;
}

/* stories */
#stories {
	background: url(../images/stories.jpg) center center/cover no-repeat scroll;
}

/* error */

#error {
	background: url(../images/error.jpg) center center/cover no-repeat scroll;
}


/* hackcooper */
#hackcooper {
	background-image: url(../images/hackcooper/41cs.jpg);
	background-position: center center;
	background-size: cover;
	text-align: center;

	padding-top: 1%;
	padding-bottom: 5%;
}

#hackcooper img {
	display: inline-block;

	margin-left: auto;
	margin-right: auto;

	max-width: 80%;
}

#hackcooper header {
	background-color: rgba(0, 0, 0, .6);
	padding-left: 5%;
	padding-right: 5%;
}

#hackcooper header h2 {
	padding-top: .33em;
	padding-bottom: .33em;
}
